shannonFiles
shannonFiles 
shannonFiles2  
shannonFiles3
.snakemake
\#*
paper/auto/
paper/*.aux
paper/*.bbl
paper/*.bcf
paper/*.blg
paper/*.dvi
paper/*.log
paper/*.run.xml
paper/*.synctex.gz
									__pycache__/
*.pyc
